{% extends 'base.html.twig' %}

{% block title %}>Création d'un article
{% endblock %}


{% block body %}
	<h1>Ajouter un article
	</h1>

	{{ form_start(form) }}

	<div class="form-group ">
		{{ form_label(form.nom)  }}
		{{ form_widget(form.nom)  }}
	</div>

	<div class="form-group ">
		{{ form_label(form.description)  }}
		{{ form_widget(form.description)  }}
	</div>

	<div class="form-group ">
		{{ form_label(form.prix)  }}
		{{ form_widget(form.prix)  }}
	</div>

	<div class="form-group ">
		{{ form_label(form.nombresEnStock)  }}
		{{ form_widget(form.nombresEnStock)  }}
	</div>

	<div class="form-group ">
		{{ form_label(form.idCategorie)  }}
		{{ form_widget(form.idCategorie)  }}
	</div>

	<button class="btn btn-primary">Ajouter</button>

	{{ form_end(form) }}
{% endblock %}
