<div class="form-group ">
	{{ form_row(form.nom)  }}
</div>

<div class="form-group ">
	{{ form_row(form.description)  }}
</div>

<div class="form-group ">
	{{ form_row(form.prix)  }}
</div>

<div class="form-group ">
	{{ form_row(form.nombresEnStock)  }}
</div>

<div class="form-group ">
	<label for="category">Choisissez une catégorie :</label>
	<select name="categorie">
		{% for categorie in categories %}
			<option value={{ categorie.getId() }}>
				{{ categorie.getNom() }}
			</option>
		{% endfor %}
	</select>
</div>
