<div class="form-group ">
	{{ form_row(form.nom)  }}
</div>

<div class="form-group ">
	{{ form_row(form.description)  }}
</div>

<div class="form-group ">
	{{ form_row(form.prix)  }}
</div>

<div class="form-group ">
	{{ form_row(form.nombresEnStock)  }}
</div>

{# <div class="form-group ">
	{{ form_row(form.idCategorie)  }}
</div> #}
