{% extends 'base.html.twig' %}

{% block title %}Hello Manager!
{% endblock %}

{% block body %}
	<br>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">MagasinApp</a>
			</div>
			<ul class="nav navbar-nav">
				<li>
					<a href={{path("create_article")}}>Créer un nouvel article</a>
				</li>
				<li>
					<a href={{path("show_stocks")}}>Afficher par catégorie</a>
				</li>
			</ul>

			{% if app.user %}
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href={{ path('app_logout') }}>
							<span class="glyphicon glyphicon-log-in"></span>
							Déconnection</a>
					</li>
				</ul>
			{% endif %}
		</div>
	</nav>

	{% if app.user %}
		Vous vous connecter comme :
		<b>
			{{ app.user.username }}
		</b>
	{% endif %}

	<div class="container">
		<br>

		{% for article in articles %}
			{% if loop.first %}
				<table class="table table-bordered">
					<tr>
						<th>NOM</th>
						<th>DESCRIPTION</th>
						<th>PRIX</th>
						<th>NOMBRE EN STOCK</th>
						<th>CATEGORIE</th>
						<th>MODIFIER</th>
						<th>SUPPRIMIER</th>
					</tr>
				{% endif %}

				<tr>
					<td>
						{{ article.nom|e }}
					</td>
					<td>
						{{article.description|e }}
					</td>
					<td>
						{{article.prix|e }}
						€
					</td>
					<td>
						{{article.nombresEnStock|e }}
					</td>
					<td>
						{{article.getCategorie().getNom()|e }}
					</td>
					<td>
						<a href={{path("edit_article",{id:article.id} )}} class="btn btn-primary">Modifier</a>
					</td>
					<td>
						<a href={{path("delete_article",{id:article.id} )}} class="btn btn-danger" onclick="return confirm('êtes-vous sur ?')">
							Supprimer</a>
					</td>
				</tr>
				{% if loop.last %}
				</table>
			{% endif %}

		{% else %}
			<p>
				<b>
					no article found
				</b>
			</p>
		{% endfor %}
	</div>

{% endblock %}
