{% extends 'base.html.twig' %}

{% block title %}Hello Manager!
{% endblock %}

{% block body %}
	<br>

	<a href={{path("create_article")}} class="btn btn-info">Créer un nouvel article</a>


	<div class="container">
		<br>

		{% for article in articles %}
			{% if loop.first %}
				<table class="table table-bordered">
					<tr>
						<th>NOM</th>
						<th>DESCRIPTION</th>
						<th>PRIX</th>
						<th>NOMBRE EN STOCK</th>
						{# <th>CATEGOTIE</th> #}
						<th>MODIFIER</th>
						<th>SUPPRIMIER</th>
					</tr>
				{% endif %}

				<tr>
					<td>
						{{ article.nom|e }}
					</td>
					<td>
						{{article.description|e }}
					</td>
					<td>
						{{article.prix|e }}
						€
					</td>
					<td>
						{{article.nombresEnStock|e }}
					</td>
					{# <td>
						{{article.idCategorie|e }}
					</td> #}
					<td>
						<a href={{path("edit_article",{id:article.id} )}} class="btn btn-primary">Modifier</a>
					</td>
					<td>
						<a href={{path("delete_article",{id:article.id} )}} class="btn btn-danger" onclick="return confirm('êtes-vous sur ?')">
						Supprimer</a>
					</td>
				</tr>
				{% if loop.last %}
				</table>
			{% endif %}

		{% else %}
			<p>
				<b>
					no article found
				</b>
			</p>
		{% endfor %}
	</div>

{% endblock %}
